<template>
  <div class="hero-body">
    <container></container>
  </div>
</template>
<script>
import Container from "./Container.vue";
export default {
  components: {
    Container
  },
  name: "HeroBody"
};
</script>
